*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    /* 10/16(16 is the default font-size root) */
    // this defines what 1 rem is
    font-size: 62.5%;
}

body {
    // font-size: 1.6rem;
    box-sizing: border-box;
}


